:root {
    --primary-color  : #fbc31c;
    --secondary-color: #df221a; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300!important;
}

.title {
  font-size: 80px;
}

.subtitle {
  font-size: 40px;
}

.bg-image {
    background-image: url('../img/image00011.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    height: 100vh;
    background-color: rgba(22, 22, 22, 0.622);
}

.block {
    background-color: #fbc31c;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
}

.text-orange {
    color: var(--primary-color) !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.underline{
    position: relative;
  }
  
  .underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  
.bg-inverse {
    background-color: var(--primary-color) !important;
}

.card-slider {
    width: 250px;
}


.page-wrap:before {
    transition: 0.3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .shadow {
    box-shadow: 0 0.4rem 1.5rem 0.3rem rgba(0, 0, 0, 0.061);
  }
  
  .off-view .page-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
  }
  
  .off-view .page-wrap:before {
    opacity: 0.5;
    visibility: visible;
  }
  
  .mobile-view {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: white;
    height: calc(100vh);
    transform: translateX(110%);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
  }
  
  .off-view .mobile-view {
    transform: translateX(0%);
  }
  .mobile-view .mobile-view-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobile-view .mobile-view-header .mobile-view-close {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
  }
  
  .mobile-view .mobile-view-header .mobile-view-close i {
    font-size: 30px;
    display: inline-block;
    padding-right: 10px;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s all ease;
  }
  
  .mobile-view .mobile-view-body {
    overflow: scroll;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
    padding-top: 50px;
  }
  
  .mobile-view .clone-view {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
  
  .mobile-view .clone-view a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #fff;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
  }

  .bg-main {
      background-color: var(--primary-color);
  }

  .text-secondary2 {
    color: #292929;
  }

  .bg-secondary2 {
    background-color: var(--secondary-color);
  }
  
  .mobile-view .clone-view a:hover {
    color: var(--primary-color);
  }
  
  .bg-mobile {
    background-color: var(--secondary-color);
  }
  
  .mobile-view .clone-view .active {
    background-color: #fbc31c;
    border-radius: 50px;
    border-bottom: none;
  }


.whatsapp {
    width: 50px;
    height: 50px;
    background: #25d366;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    border-radius: 50%;
    font-size: 30px;
    position: fixed;
    bottom: 18px;
    left: 18px;
    cursor: pointer;
    border: 4px solid transparent;
    text-decoration: none;
  }
  .whatsapp:hover {
    color: white !important;
    font-size: 35px;
    text-decoration: none;
  }

  .img-hover {
    transition: all .3s ease-in-out;
  }

  .img-hover:hover {
    transform: scale(1.1);
  }

@media (max-width: 768px) {
    .card-slider {
        width: 100%;
    }

    .title {
      font-size: 45px;
    }

    .subtitle {
      font-size: 30px;
    }
}  
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
