/* Add here all your css styles (customizations) */

:root {
    --primary-color: #e41c1c;
}

.h-bg-img {
    height: 100vh!important;
}

.hover-link {
    transition: all .3s ease-in-out;
}

.fs-numero {
    font-size: 60px;
}

.btn-custom {
    height: 100vh;
}

.btn-sucursal {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    border-radius: 35px;
    transition: all .3 s ease-in-out;
}

.btn-sucursal:hover {
    color: rgb(216, 219, 31);
}

.btn-catalogo {
    border-radius: 35px; 
    border: 2px solid var(--primary-color); 
    color: var(--primary-color);
    padding: 10px 15px!important;
}

.btn-catalogo:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.hover-link:hover { 
    color: #fff!important;
}

.fs-numero2 {
    font-size: 40px;
}

.border-img-bg {
    border-bottom: 120px solid var(--primary-color);
}

.img-size {
    width: 250px;
    height: 100px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .btn-catalogo {
        font-size: 10px;
    }

    .btn-sucursal {
        font-size: 10px;
    }

    .fs-numero {
        font-size: 22px;
    }

    .fs-numero2 {
        font-size: 16px;
    }

    .btn-catalogo {
        padding: 8px 10px!important;

    }

    .border-img-bg {
        border-bottom: 34px solid var(--primary-color);
    }

    .g-pb-20 {
        padding-bottom: 2px!important;
    }

    .mb-5 {
        margin-bottom: 0px !important;
    }
}